<div class="dropdown">
  <a class="btn btn-outline-danger dropdown-toggle" href="#" id="manageDropdown" data-bs-toggle="dropdown">
    Manage
  </a>
  <div class="dropdown-menu" aria-labelledby="manageDropdown">
    <a asp-action="Index" asp-controller="DbManage" asp-area="Database" class="dropdown-item"> Database </a>
  </div>
</div>