@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-8">
        @RenderBody()
    </div>
    <div class="col-md-4">
        @* Tham số false không thiết lập cũng được   *@
        @RenderSection("Sidebar", false)
    </div>
</div>