.css_select_div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.css_select_div label {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.css_select_div .css_select {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.9rem 1rem;
  border: 1px solid #ced4da;
  width: 100%;
  height: auto;
  line-height: 1.5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
.css_select_div .css_select:hover {
  background-color: #e9ecef;
}

.app-navbar {
  background: #122153;
}
.app-navbar .text-dark {
  color: #b9c3ce !important;
}
.app-navbar .text-dark:hover {
  color: white !important;
}
.app-navbar .navbar-brand {
  color: white;
}
.app-navbar .navbar-brand:hover {
  color: #888188 !important;
}
.app-navbar .dropdown-toggle {
  border-color: transparent !important;
  color: white;
}

.categorysidebar ul, .categorysidebar li {
  list-style: none;
  padding-left: 10px;
}
.categorysidebar a {
  text-decoration: none;
}
.categorysidebar a:hover {
  color: #a04747;
}
.categorysidebar a.active {
  color: red;
}
.categorysidebar > ul > li > a {
  font-weight: bold;
}
.categorysidebar h3 {
  text-transform: uppercase;
  font-size: 1.3em;
  border-bottom: 1px solid blue;
  padding-bottom: 10px;
}

.app-footer {
  background: #080A10;
  color: white;
  text-align: center;
}

.detailpost h1 {
  font-weight: 300;
}
.detailpost .sapo {
  font-weight: 500;
  font-style: italic;
}
.detailpost img {
  max-width: 100%;
}

.photodetail {
  position: relative;
}
.photodetail span {
  position: absolute;
  bottom: 50%;
  left: 50%;
  display: none;
}
.photodetail:hover span {
  display: block;
}